html{
    width:100%;
    height:100%;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

#threeDiv {
    width:100%;
    height:100%;
    padding:0;
}

#uiDiv {
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.4);
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
}

#uiDiv>canvas{
    position:absolute;
    top: 0;
    left: 0;
}

#addVertex{
    display: block;
    background: #6dd0f2;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    text-align:center;
    line-height: 90px;
    text-decoration: none;
}

#addVertexMode {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
    z-index: 10;
    text-decoration: none;
}

a {color:#000000;}      /* unvisited link */
a:visited {color:#000000;}  /* visited link */
a:hover {color:#000000;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */

#newVertex{
    display: none;
    position: absolute;
    background: #6dd0f2;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    z-index: 10;
    font-size: 20px;
    line-height: 30px;
    text-align:center;
    cursor: none;
}

.label{
    color: white;
    display: inline-block;
    padding-right: 15px;
}

#title {
    padding: 12px 20px;
    font-size: 40px;
    display: block;
}

#sliderPanel{
    margin-right: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.slider.slider-horizontal {
    width: 200px;
    margin: 0;
    padding: 20px;
    top: 10px;
}

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #f9f9f9;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 6px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 6px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #6dd0f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
    opacity: 0.8;
}

.flat-slider .ui-slider-handle:hover {
  opacity: 0.7;
}

.flat-slider .ui-slider-handle:focus { outline: none; }


.flat-slider{
    vertical-align: middle;
    display: inline-block;
    width: 200px;
    position: relative;
    margin: 20px 0 10px 0;
    padding: 4px 0;
}

#svgDiv{
    /*display: none;*/
    position: absolute;
    width:600px;
    height:600px;
    top:0;
    left:0;
    z-index: 10;
    background: white;
}